#board{
    position: relative;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    background: url("board-bg.jpg");
    background-size: cover;
    background-position: center bottom;
    z-index: 1;
    
}
html{
    cursor: url("cursor.png"), default;
  }

#score{
    text-transform: uppercase;
    font-size: 6vh;
    color:white;
    font-weight: border;
    position: absolute;
    right: 3vw;
    top: 3vw;
}
#text{
    text-transform: uppercase;
    font-size: 8vh;
    color:red;
    font-weight: border;
    text-align: center;
    margin-top: 42vh;
    opacity: 0;
}

@keyframes walk {
    100% {
        background-position-x: -1800px;
    }
}

@keyframes walkFrom {
    100% {
        right: 100%;
    }
}
